@model IEnumerable<Dumpwinkel.Web.Areas.Admin.Models.ThemeViewModel>

@{
    ViewBag.Title = "Thema's";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Thema's</h2>

<p>
    @Html.ActionLink("Nieuw thema", "Create")
</p>

@if (Model.Count() > 0)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                @if (item.Id != new Guid("e0614191-56e9-41e3-99be-dcb5b7fedd64"))
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                }

            </td>
        </tr>
    }

    </table>
}
else
{
    <p>Er zijn geen thema's</p>
}
