@model Dumpwinkel.Web.Models.CalendarViewModel

@{
    ViewBag.Title = "Home Page";

    var getDate = DateTime.Now;

    var firstDayOfTheMonth = new DateTime(getDate.Year, getDate.Month, 1);

    DateTime startDate = firstDayOfTheMonth.AddDays(-(int)firstDayOfTheMonth.DayOfWeek + 1);
}

<div class="container mb-2">
    <div class="ml-md-0 mr-md-0">
        <div class="col-md-12" style="background-color: rgba(255,255,255, 0.9); color: @ViewBag.IntroTextColor;  padding: 10px 10px 40px 10px; font-size: @(ViewBag.IntroTextSize + "px");">
            
            <p>@Html.Raw(ViewBag.IntroText)</p>
             
            <a class="btn btn-sm btn-primary" href="/Info" style="position: absolute; right: 15px; bottom: 15px;">Klik hier voor meer informatie</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        @foreach (var month in Model.CalendarMonths)
        {
            <div class="col-md-4 mb-2">
                <table class="booking-calendar">
                    <caption>@month.Title</caption>
                    <thead>
                        <tr>
                            <th>MA</th>
                            <th>DI</th>
                            <th>WO</th>
                            <th>DO</th>
                            <th>VR</th>
                            <th>ZA</th>
                            <th>ZO</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            @for (int i = 0; i < 42; i++)
                            {

                                if (i % 7 == 0 && i > 0)
                                {
                                @:</tr><tr>
                                }
                                if (month.CalendarDays[i].IsVisible)
                                {
                                    if (month.CalendarDays[i].IsAvailable && !month.CalendarDays[i].IsPast)
                                    {
                                        if (!month.CalendarDays[i].IsFull)
                                        {
                                            if (month.CalendarDays[i].IsPublished)
                                            {
                                                <td class="available" data-toggle="tooltip" data-html="true" data-placement="top" title="@Html.Raw(month.CalendarDays[i].ThemeDescription)"><a href="#" data-id="@month.CalendarDays[i].Date.ToString("yyyy-MM-dd")">@month.CalendarDays[i].Date.Day.ToString()</a></td>
                                            }
                                            else
                                            {
                                                <td class="unpublished" data-toggle="tooltip" data-html="true" data-placement="top" title="DEZE DATUM KAN NOG NIET WORDEN GERESERVEERD">@month.CalendarDays[i].Date.Day.ToString()</td>
                                            }
                                        }
                                        else
                                        {
                                            <td class="full" data-toggle="tooltip" data-placement="top" title="VOLGEBOEKT">@month.CalendarDays[i].Date.Day.ToString()</td>
                                        }
                                    }
                                    else
                                    {
                                        <td>@month.CalendarDays[i].Date.Day.ToString()</td>
                                    }
                                }
                                else
                                {
                                    <td>&nbsp;</td>
                                }
                            }
                        </tr>
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>

<div class="container mb-2">
    <div class="ml-md-0 mr-md-0">
        <div class="col-md-12" style="background-color: rgba(255,255,255, 0.9); color: @ViewBag.IntroTextColor;  padding: 10px; font-size: 14px;">
            <div class="row">
                <div class="col-md-4">
                    <div style="background-color: #525d57; color: #fff; display: inline-block; padding: 0 10px;">dd</div>
                    DUMP is ingepland (nog niet volgeboekt)
                </div>
                <div class="col-md-4">
                    <div style="background-color: lightgray; color: #fff; display: inline-block; padding: 0 10px;">dd</div>
                    Geplande DUMP (reeds volgeboekt)
                </div>
                <div class="col-md-4">
                    <div style="background-color: lightgoldenrodyellow; color: red; display: inline-block; padding: 0 10px;">dd</div>
                    Geplande DUMP (volg facebookpagina)
                </div>
            </div>
            
        </div>
    </div>
</div>

<!-- Evetnts Dialog -->
<div class="modal fade" id="dlg-events" tabindex="-1" role="dialog"
     aria-labelledby="dlg-events-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="dlg-events-label"></h6>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Afsluiten">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <div class="modal-body">
                <table id="events-table" class="table table-sm table-hover">
                    <tbody></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Afsluiten</button>

            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">

        function capitalize(s) {
            if (typeof s !== 'string') return '';
            return s.charAt(0).toUpperCase() + s.slice(1);
        }

        $(function () {

            $('td.available a').click(function (e) {

                $('#events-table tbody').empty();

                var dateOptions = { weekday: 'long', year: 'numeric', day: 'numeric', month: 'long' };
                var date = $(this).attr('data-id');
                var objDate = new Date(date);

                $('#dlg-events-label').text("Timeslots Dumpverkoop " + capitalize(objDate.toLocaleDateString("nl-NL", dateOptions)));
                $.getJSON('/api/event', { date: date }, function (result) {
                    $.each(result, function (index, event) {
                        var row = $('<tr />').attr('data-id', event.Id).click(function (e) {
                            window.location.href = '/registration/Create/' + event.Id;
                        });
                        var timeRange = $('<td />').addClass('timeRange').text(event.StartTime + '-' + event.EndTime);
                        var maxPersons = $('<td />').addClass('maxPersons').text("Nog " + event.Available + " plaatsen");
                        var theme = $('<td />').addClass('theme').text(event.ThemeTitle);
                        var actions = $('<td />');
                        if (event.Available <= 0) {
                            maxPersons = $('<td />').addClass('maxPersons').text("Volgeboekt");
                            row.unbind('click');
                        } else {
                            var button = $("<a />").addClass('btn btn-sm btn-primary d-none d-sm-block').css('color', '#ffffff').text('Selecteer').click(function (e) {
                                e.preventDefault();
                            });
                            actions.append(button);
                        }

                        row.append(timeRange);
                        row.append(maxPersons);
                        row.append(theme);
                        row.append(actions);
                        $('#events-table tbody').append(row);

                        $('#dlg-events').modal('show');
                    });

                });
            });

            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
}
