@{ 
    var backgroundImageUrl = ViewBag.BackgroundImageUrl;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - De Eekhoorn Dumpwinkel</title>
    <link rel="shortcut icon" href="~/img/favicon.ico">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")

</head>
<body class="top" style="background-image: url('@backgroundImageUrl') !important;">

    <nav class="navbar navbar-eekhoorn">
        <div class="container-fluid justify-content-center">
            <a class="navbar-brand" href="#">
                <img class="d-none d-sm-block" src="~/img/logo_eekhoorn_staand.png" height="175" />
                <img class="d-block d-sm-none" src="~/img/logo_eekhoorn_staand.png" height="75" />
            </a>
            <span class="d-none d-sm-block" style="font-family: 'Prime-Regular', Arial, sans-serif; font-weight: normal; color: @ViewBag.TitleColor; font-size: @(ViewBag.TitleSize + "px");">@ViewBag.SiteTitle</span>
            <span class="d-block d-sm-none" style="font-family: 'Prime-Regular', Arial, sans-serif; font-weight: normal; color: @ViewBag.TitleColor; font-size: @(ViewBag.TitleSize / 2.5 + "px");">@ViewBag.SiteTitle</span>
        </div>
    </nav>

    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>
