@model Dumpwinkel.Web.Models.EventListViewModel

@{
    ViewBag.Title = "Evenementen";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Evenementen</h2>

<h4 class="current-date">@Model.Date.ToLongDateString()</h4>

<div class="row">
    <div class="col-md-12">
        <a id="btn-start" data-date="@Model.Date.ToString("yyyy-MM-dd")" href="#" class="btn btn-primary mb-2 @(Model.Events.Count() > 0 ? "" : "disabled")">+Timeslot AANVANG</a>
    </div>
</div>

<div class="row">
    <div class="col-md-3 order-md-2">
        <table class="booking-calendar">
            <caption><a class="float-left ml-2" id="btn-prev-month" href="/cmseek/Event?date=@Model.Date.AddMonths(-1).ToString("yyyy-MM-dd")" style="color: #fff; text-decoration: none;"><i class="fa fa-chevron-left"></i></a>@Model.Month.Title<a class="float-right mr-2" id="btn-next-month" href="/cmseek/Event?date=@Model.Date.AddMonths(1).ToString("yyyy-MM-dd")" style="color: #fff; text-decoration: none;"><i class="fa fa-chevron-right"></i></a></caption>
            <thead>
                <tr>
                    <th>MA</th>
                    <th>DI</th>
                    <th>WO</th>
                    <th>DO</th>
                    <th>VR</th>
                    <th>ZA</th>
                    <th>ZO</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    @for (int i = 0; i < 42; i++)
                    {
                        if (i % 7 == 0 && i > 0)
                        {
                        @:</tr><tr>
                        }
                        if (Model.Month.CalendarDays[i].IsVisible)
                        {
                            if (Model.Month.CalendarDays[i].IsAvailable)
                            {
                                <td class="available existing-event @(Model.Month.CalendarDays[i].IsToday ? "today" : "")"><a href="/cmseek/Event?date=@Model.Month.CalendarDays[i].Date.ToString("yyyy-MM-dd")" data-date="@Model.Month.CalendarDays[i].Date.ToString("yyyy-MM-dd")">@Model.Month.CalendarDays[i].Date.Day.ToString()</a></td>
                            }
                            else
                            {
                                <td class="new-event @(Model.Month.CalendarDays[i].IsToday ? "today" : "")"><a href="/cmseek/Event/Create?date=@Model.Month.CalendarDays[i].Date.ToString("yyyy-MM-dd")" data-date="@Model.Month.CalendarDays[i].Date.ToString("yyyy-MM-dd")">@Model.Month.CalendarDays[i].Date.Day.ToString()</a></td>
                            }
                        }
                        else
                        {
                            <td class="hidden"></td>
                        }
                    }
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-9 order-md-1">

        <table id="events-table" class="table">
            <thead>
                <tr>
                    <th>
                        Start
                    </th>
                    <th>
                        Eind
                    </th>
                    <th>
                        #Maximum
                    </th>
                    <th>
                        #Reg
                    </th>
                    <th>
                        #Beschikbaar
                    </th>
                    <th>
                        #Pending
                    </th>
                    <th>
                        #Bezocht
                    </th>
                    <th>
                        Thema
                    </th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr class="prototype d-none">
                    <td class="startTime"></td>
                    <td class="endTime"></td>
                    <td class="maxPersons"></td>
                    <td class="registered"></td>
                    <td class="available"></td>
                    <td class="pending"></td>
                    <td class="visited"></td>
                    <td class="theme"></td>
                    <td class="actions">
                        <a class=""><i class="fa fa-download"></i></a>
                        <a class="btn btn-sm btn-link" href="#">Wijzigen</a>
                        <a class="btn btn-sm btn-link" href="#" data-toggle="" data-target="">Verwijderen</a>
                        <a class="btn btn-sm btn-link" href="#" data-toggle="" data-target="">Extra bevestiging</a>
                    </td>
                </tr>

            </tbody>


        </table>


    </div>

</div>

<div class="row">
    <div class="col-md-12">
        <a id="btn-end" data-date="@Model.Date.ToString("yyyy-MM-dd")" href="#" class="btn btn-primary mt-2 @(Model.Events.Count() > 0 ? "" : "disabled")">+Timeslot EINDE</a>
    </div>
</div>

<div id="messageModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Bericht</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<div id="downloadModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Download <span id="downloadTitleName"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Wilt u dit timeslot downloaden?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuleren</button>
                <a id="downloadBtn" class="btn btn-primary">Ja</a>
            </div>
        </div>
    </div>
</div>

<div id="deleteModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Verwijder <span id="titleName"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuleren</button>
                <button id="okBtn" type="button" class="btn btn-primary">Ja</button>
            </div>
        </div>
    </div>
</div>

<div id="extraModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Extra bevestiging: <span class="titleName"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="extraForm" class="needs-validation" novalidate>
                    <input type="hidden" name="EventId" id="EventId" />
                    <div class="form-group">
                        <label for="Name">Naam</label>
                        <input type="text" class="form-control" name="Name" id="Name" required />
                        <div class="invalid-feedback">
                            Naam is verplicht
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Postcode">Postcode</label>
                        <input type="text" class="form-control" name="Postcode" id="Postcode" pattern="[1-9][0-9]{3}[a-zA-Z]{2}" required />
                        <div class="invalid-feedback">
                            Postcode is ongeldig (Formaat: 1234AA, zonder spatie)
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="City">Plaats</label>
                        <input type="text" class="form-control" name="City" id="City" required />
                        <div class="invalid-feedback">
                            Woonplaats is verplicht
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Email">E-mail</label>
                        <input type="email" class="form-control" name="Email" id="Email" required />
                        <div class="invalid-feedback">
                            Ongeldig E-mail adres
                        </div>
                    </div>
                    <div>
                        <label for="NumberOfVisitors">Aantal personen (max 3)</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="NumberOfVisitors" id="NumberOfVisitors1" value="1" checked>
                        <label class="form-check-label" for="NumberOfVisitors1">1</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="NumberOfVisitors" id="NumberOfVisitors2" value="2">
                        <label class="form-check-label" for="NumberOfVisitors2">2</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="NumberOfVisitors" id="NumberOfVisitors3" value="3">
                        <label class="form-check-label" for="NumberOfVisitors3">3</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuleren</button>
                <button id="extraBtn" type="button" class="btn btn-primary">Ja</button>
            </div>
        </div>
    </div>
</div>


@section scripts
{
    <script type="text/javascript" src="~/Scripts/moment.js"></script>
    <script type="text/javascript" src="~/Scripts/nl.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker.min.js"></script>

    <script type="text/javascript">

        function refreshSlots(date) {

            console.log(date);

            $('#events-table tbody').empty();

            $.getJSON('/api/event', { date: date }, function (result) {
                if (result.length > 0) {
                    $.each(result, function (index, event) {
                        var row = $('<tr />').attr('data-id', event.Id);
                        var startTime = $('<td />').text(event.StartTime);
                        var endTime = $('<td />').text(event.EndTime);

                        var maxPersons = $('<td />').text(event.MaxPersons);
                        var pending = $('<td />').text(event.Pending);
                        var registered = $('<td />')
                        if (event.Registered > 0) {
                            var registrationsLink = $('<a />').attr('href', '/cmseek/registration?eventId=' + event.Id + '&startDate=' + '@Model.Date.ToString("yyyy-MM-dd")').text(event.Registered);
                            registered.append(registrationsLink);

                        } else {
                            registered.text(event.Registered);
                        }

                        var available = $('<td />').text(event.Available);
                        var visited = $('<td />').addClass('visited').text(event.Visited);
                        var theme = $('<td />').addClass('theme').text(event.ThemeTitle);
                        var actions = $('<td />');
                        var downloadLink = $('<a />').attr('href', '/cmseek/event/DownloadExcel/' + event.Id).append('<i class="fa fa-download"></i>');
                        actions.append(downloadLink);
                        var deleteLink = $('<a />').addClass('btn btn-sm btn-link').attr('data-id', event.Id).attr('data-title', event.StartTime + ' - ' + event.EndTime).attr('href', '#').attr('data-toggle', 'modal').attr('data-target', '#deleteModal').text('Verwijderen');
                        if (event.Registered > 0) {
                            deleteLink.addClass('disabled');
                        }
                        actions.append(deleteLink);
                        var editLink = $('<a />').addClass('btn btn-sm btn-link').attr('href', '/cmseek/event/edit/' + event.Id + '?returnurl=' + '/cmseek/event?date=' + '@Model.Date.ToString("yyyy-MM-dd")').text('Wijzigen');
                        actions.append(editLink);

                        var extraLink = $('<a />').addClass('btn btn-sm btn-link').attr('data-id', event.Id).attr('data-title', event.StartTime + ' - ' + event.EndTime).attr('href', '#').attr('data-toggle', 'modal').attr('data-target', '#extraModal').text('Extra bevestiging');
                        actions.append(extraLink);

                        row.append(startTime);
                        row.append(endTime);
                        row.append(maxPersons);
                        row.append(registered);
                        row.append(available);
                        row.append(pending);
                        row.append(visited);
                        row.append(theme);
                        row.append(actions);
                        $('#events-table tbody').append(row);
                    });
                }
                var dateOptions = { weekday: 'long', year: 'numeric', day: 'numeric', month: 'long' };

                var objDate = new Date(date);
                $('.current-date').text(objDate.toLocaleDateString("nl-NL", dateOptions));


                $('#btn-start').attr('data-date', objDate.toISOString().split('T')[0]);
                $('#btn-end').attr('data-date', objDate.toISOString().split('T')[0]);
            });
        }

        function refreshCalendar(date) {

        }

        $(function () {

            $('#Date').datetimepicker({
                format: 'L',
                date: "@Model.Date"
            });

            $('#Date').on("dp.change", function (e) {
                refreshSlots(e.date.format('YYYY-MM-DD'));
            });

            $('#Date').on("dp.update", function (e) {
                refreshCalendar(e.viewDate.format('YYYY-MM-DD'));
            });

            $('.new-event').click(function (e) {
                console.log("new event");
            });

            $('#deleteModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var title = button.data('title');
                var id = button.data('id');

                $('#titleName').text(title);
                $('#okBtn').attr('data-id', id);
            });

            $('#extraModal').on('show.bs.modal', function (event) {

                $('#extraForm').removeClass('was-validated');
                $('#extraForm').trigger("reset");
                var button = $(event.relatedTarget);

                var title = button.data('title');

                var id = button.data('id');
                $('input[name="EventId"]').val(id);

                $('#extraModal .titleName').text(title);
                $('#extraBtn').attr('data-id', id);

            });

            $('#extraBtn').click(function (event) {

                var form = document.getElementById('extraForm');
                if (form.checkValidity() == false) {
                    console.log(false);
                    event.preventDefault();
                    event.stopPropagation();
                } else {
                    var data = $('#extraForm').serializeArray();

                    $.post('/api/registration/create', data, function (response) {

                        $('#extraModal').modal('hide');
                        $('#messageModal .modal-body').text(response.message);
                        $('#messageModal').modal('show');
                    });
                }
                $('#extraForm').addClass('was-validated');
            });


            $('#okBtn').click(function (event) {
                event.preventDefault();

                var id = $(this).data('id');
                $.post('/api/Event/Delete/' + id, function () {
                    $('tr[data-id="' + id + '"]').remove();
                    $('#deleteModal').modal('hide');
                });

            });


            $('#btn-start').click(function (e) {
                e.preventDefault();

                $.post('/api/event/before/' + $(this).attr('data-date'), function (response) {
                    console.log(response.EventDate);
                    refreshSlots(response.EventDate);

                });
            });

            $('#btn-end').click(function (e) {
                e.preventDefault();

                $.post('/api/event/after/' + $(this).attr('data-date'), function (response) {
                    console.log(response.EventDate);
                    refreshSlots(response.EventDate);
                });
            });

            refreshCalendar("@Model.Date.ToString("yyyy-MM-dd")");
            refreshSlots("@Model.Date.ToString("yyyy-MM-dd")");
        });
    </script>
}
