@model IEnumerable<Dumpwinkel.Web.Models.RegistrationViewModel>

@{
    ViewBag.Title = "Registraties";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";


    var startDate = ViewBag.StartDate;
    var endDate = ViewBag.EndDate;
}

@using X.PagedList
@using X.PagedList.Mvc
@using X.PagedList.Mvc.Bootstrap4

<!-- import the included stylesheet for some (very basic) default styling -->
<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />

<h2>Registraties</h2>

@using (Html.BeginForm("Index", "Registration", FormMethod.Get))
{
    <div class="form-inline">
        <div class="form-group">
            @Html.TextBox("searchString", ViewBag.CurrentFilter as string, htmlAttributes: new { @class = "form-control" })
        </div>
        <a href="#" id="searchBtn" class="btn btn-primary">Zoeken</a>
        <div class="form-group">
            <div class="form-row">
                <div class="form-group">
                    <label for="startDate" class="col-md-4 text-right">Datum</label>
                    <div class="col-md-8">
                        <div class="input-group date" id="startDate" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input" name="startDate" value="@startDate" data-target="#startDate" />
                            <div class="input-group-append" data-target="#startDate" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>

                        <span class="field-validation-valid text-danger" data-valmsg-for="startDate" data-valmsg-replace="true"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="state" class="col-md-4 text-right">Status</label>
                    <div class="col-md-8">
                        <select id="state" name="state" class="form-control">
                            <option value="all" @(Request.Params["state"] == "all" ? "selected" : "")>Alles</option>
                            <option value="registered" @(Request.Params["state"] == "registered" ? "selected" : "")>Aangemeld</option>
                            <option value="confirmed" @(Request.Params["state"] == "confirmed" ? "selected" : "")>Bevestigd</option>
                            <option value="visited" @(Request.Params["state"] == "visited" ? "selected" : "")>Bezocht</option>
                            <option value="cancelled" @(Request.Params["state"] == "cancelled" ? "selected" : "")>Geannuleerd</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <a id="clearFilterBtn" href="#" class="btn btn-secondary">Schoon filter</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<hr />

<p>
    <b>Aanmeldingen:</b> <span class="mr-md-3">@ViewBag.TotalRegistrations</span> <b>Bezoekers:</b> <span>@ViewBag.TotalVisitors</span>
</p>

<table class="table table-responsive">
    <tr>
        <th>
            @Html.ActionLink("Datum-Timeslot", "Index", new { sortOrder = "timerange", currentFilter = ViewBag.CurrentFilter, startDate = startDate })
        </th>
        <th>
            @Html.ActionLink("Naam", "Index", new { sortOrder = "name", currentFilter = ViewBag.CurrentFilter, startDate = startDate })
        </th>
        <th>
            @Html.ActionLink("E-mail", "Index", new { sortOrder = "email", currentFilter = ViewBag.CurrentFilter, startDate = startDate })
        </th>
        <th>
            @Html.ActionLink("Postcode", "Index", new { sortOrder = "postcode", currentFilter = ViewBag.CurrentFilter, startDate = startDate })
        </th>
        <th>
            @Html.ActionLink("Plaats", "Index", new { sortOrder = "city", currentFilter = ViewBag.CurrentFilter, startDate = startDate })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfVisitors)
        </th>
        <th>
            Bevestigd
        </th>
        <th>
            Bezocht
        </th>
        <th>
            Geannuleerd
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr data-id="@item.Id">
    <td>
        @Html.DisplayFor(modelItem => item.Title)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Postcode)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.City)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NumberOfVisitors)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Confirmed)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Visited)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Cancelled)
    </td>
    <td>
        @Html.ActionLink("Verwijder", "Delete", new { id = item.Id }, new { data_toggle = "modal", data_target = "#deleteModal", data_id = item.Id, data_title = item.Name })
        @Html.ActionLink("Details", "Details", new { id = item.Id })
    </td>
</tr>
    }

</table>


@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new
{
    page,
    sortOrder = ViewBag.CurrentSort,
    currentFilter = ViewBag.CurrentFilter,
    startDate = ViewBag.StartDate,
    state = ViewBag.State
}), Bootstrap4PagedListRenderOptions.ClassicPlusFirstAndLast)


<div id="deleteModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Verwijder <span id="modalTitle"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Weet je het zeker?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuleren</button>
                <button id="okBtn" type="button" class="btn btn-primary">Ja</button>
            </div>
        </div>
    </div>
</div>



@section scripts
{
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/nl.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
    <script type="text/javascript">

        $(function () {

            $('#startDate').datetimepicker({
                date: '@startDate',
                locale: 'nl',
                format: 'L'
            });
            $("#startDate").on("change.datetimepicker", function (e) {
                $("form").submit();
            });

            $("#state").change(function (e) {
                $("form").submit();
            });

            $("#clearFilterBtn").click(function (e) {
                e.preventDefault();

                $("#state").val("all");
                $("#searchString").val("");

                $("form").submit();
            });

            $("#searchBtn").click(function (e) {
                e.preventDefault();

                $("form").submit();

            });

            $('#deleteModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var title = button.data('title');
                var id = button.attr('data-id');

                $('#modalTitle').text(title);
                $('#okBtn').attr('data-id', id);
            });

            $('#okBtn').click(function (event) {
                event.preventDefault();

                var id = $(this).attr('data-id');
                $.post('/api/Registration/Delete/' + id, function () {
                    $('tr[data-id="' + id + '"]').remove();
                    $('#deleteModal').modal('hide');
                });

            });
        });


    </script>

}