@model IEnumerable<Dumpwinkel.Web.Models.RegistrationViewModel>

@{
    ViewBag.Title = "Registraties";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";


    var startDate = ViewBag.StartDate;
    var endDate = ViewBag.EndDate;
}

@using X.PagedList
@using X.PagedList.Mvc
@using X.PagedList.Mvc.Bootstrap4

<!-- import the included stylesheet for some (very basic) default styling -->
<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />

<h2>Registraties</h2>

@using (Html.BeginForm("Index", "Registration", FormMethod.Get))
{
    <div class="form-inline">
        <div class="form-group">
            @Html.TextBox("searchString", ViewBag.CurrentFilter as string, htmlAttributes: new { @class = "form-control" })
        </div>
        <input type="submit" class="btn btn-primary" value="Zoeken" />
        <div class="form-group">
            <div class="form-row">
                <div class="form-group">
                    <label for="startDate" class="col-md-4 text-right">Startdatum</label>
                    <div class="col-md-8">
                        <input type="date" class="form-control" id="startDate" name="startDate" value="@startDate" />
                        <span class="field-validation-valid text-danger" data-valmsg-for="startDate" data-valmsg-replace="true"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="endDate" class="col-md-4 text-right">Einddatum</label>
                    <div class="col-md-8">
                        <input type="date" class="form-control" id="endDate" name="endDate" value="@endDate" />
                        <span class="field-validation-valid text-danger" data-valmsg-for="endDate" data-valmsg-replace="true"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="state" class="col-md-4 text-right">Status</label>
                    <div class="col-md-8">
                        <select id="state" name="state" class="form-control">
                            <option value="all" @(Request.Params["state"] == "all" ? "selected" : "")>Alles</option>
                            <option value="confirmed" @(Request.Params["state"] == "confirmed" ? "selected" : "")>Bevestigd</option>
                            <option value="visited" @(Request.Params["state"] == "visited" ? "selected" : "")>Bezocht</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <a id="clearFilterBtn" href="#" class="btn btn-secondary">Schoon filter</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<hr />

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Datum-Timeslot", "Index", new { sortOrder = ViewBag.TimeRangeSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Naam", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("E-mail", "Index", new { sortOrder = ViewBag.EmailSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Postcode", "Index", new { sortOrder = ViewBag.PostcoeSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Plaats", "Index", new { sortOrder = ViewBag.CitySortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfVisitors)
        </th>
        <th>
            Bevestigd
        </th>
        <th>
            Bezocht
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Postcode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfVisitors)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Confirmed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Visited)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.Id })
        </td>
    </tr>
    }

</table>


@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new
{
    page,
    sortOrder = ViewBag.CurrentSort,
    currentFilter = ViewBag.CurrentFilter,
    startDate = ViewBag.StartDate,
    endDate = ViewBag.EndDate,
}), Bootstrap4PagedListRenderOptions.ClassicPlusFirstAndLast)


@section scripts
{
    <script type="text/javascript">
        function dateRangeValid() {
            var startDate = new Date($("#startDate").val());
            var endDate = new Date($("#endDate").val());

            if (startDate >= endDate) {
                return false;
            } else {
                return true;
            }
        }

        $(function () {

            $("#startDate").change(function (e) {
                if (dateRangeValid()) {
                    $("form").submit();
                } else {
                    $("#startDate").val(currentStartDate);
                    $("form").find("[data-valmsg-for='startDate']").text("Startdatum moet onder einddatum liggen");
                }
            });

            $("#endDate").change(function (e) {
                if (dateRangeValid()) {
                    $("form").submit();
                } else {
                    $("#endDate").val(currentEndDate);
                    $("form").find("[data-valmsg-for='endDate']").text("Einddatum moet bove startdatum liggen");
                }
            });

            $("#state").change(function (e) {
                
                $("form").submit();
            });

            $("#clearFilterBtn").click(function (e) {
                e.preventDefault();

                $("#state").val("all");
                $("#searchString").val("");

                $("form").submit();
            });
        });


    </script>

}