@model Dumpwinkel.Web.Models.EventViewModel

@{
    ViewBag.Title = "Nieuw Evenement";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Nieuw evenement</h2>

@using (Html.BeginForm("Create", "Event", FormMethod.Post, new { id = "eventForm", @class = "form-inline" }))
{
    @Html.AntiForgeryToken()
    
<div class="btn-toolbar mb-2">

    <div class="form-group mr-md-3">
        <label class="mr-md-1">Start</label>
        <input type="datetime-local" class="form-control" id="StartTime" name="StartTime" value="@Model.StartTime" />
    </div>
    <div class="form-group mr-md-3">
        <label class="mr-md-1">Eind</label>
        <input type="datetime-local" class="form-control" id="EndTime" name="EndTime" value="@Model.EndTime" />
    </div>
    <div class="form-group mr-md-3">
        <label class="mr-md-1">Interval</label>
        @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
    </div>
    <div class="form-group mr-md-3">
        @Html.EnumDropDownListFor(model => model.Unit, "- Select unit -", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Unit, "", new { @class = "text-danger" })
    </div>
    <div class="form-group mr-md-3">
        <label class="mr-md-1">Max aantal personen (per uur)</label>
        @Html.EditorFor(model => model.MaxPersons, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div class="form-group">
        <button id="createButton" class="btn btn-primary" type="submit">Opslaan</button>
    </div>
</div>
    
}

<div>
    @Html.ActionLink("Terug naar de lijst", "Index")
</div>
