@{ 
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();

    var mainClass = "col-md-12";
    if (Request.IsAuthenticated)
    {
        mainClass = "col-md-9 ml-sm-auto col-lg-10 px-4";
    }

    var pageName = ViewContext.RouteData.Values["controller"].ToString();
}

@helper selected(string c, string culture)
{
    if (c == culture)
    {
        @:checked="checked"
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>@ViewBag.Title - Dumpwinkel Beheer</title>
    <link rel="shortcut icon" href="~/img/favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />
    @Styles.Render("~/Admin/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>


</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Dumpwinkel Beheer</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                @if (User.IsInRole("GRolDumpwinkelBeheerder") || User.IsInRole("GRolDumpwinkelOrganisator"))
                {
                    <li class="nav-item">
                        <a class="nav-link @(pageName == "theme" ? "active" : "")" href="/cmseek/theme">
                            
                            Thema's
                        </a>
                    </li>
                }
                @if (User.IsInRole("GRolDumpwinkelBeheerder") || User.IsInRole("GRolDumpwinkelOrganisator"))
                {
                    <li class="nav-item">
                        <a class="nav-link @(pageName == "event" ? "active" : "")" href="/cmseek/event">
                            
                            Evenementen
                        </a>
                    </li>
                }
                @if (User.IsInRole("GRolDumpwinkelBeheerder") || User.IsInRole("GRolDumpwinkelOrganisator"))
                {
                    <li class="nav-item">
                        <a class="nav-link @(pageName == "registration" ? "active" : "")" href="/cmseek/registration">
                            
                            Registraties
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @(pageName == "setting" ? "active" : "")" href="/cmseek/setting/edit/1">
                            
                            Instellingen
                        </a>
                    </li>
                }
            </ul>
        </div>
        @Html.Partial("_LoginPartial")
    </nav>


    <div class="container-fluid">
        <div class="row">
            @if (Request.IsAuthenticated)
            {
                <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                    <div class="sidebar-sticky">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link @(pageName == "dashboard" ? "active" : "")" href="#">
                                    <i class="fa fa-home"></i>
                                    Dashboard
                                </a>
                            </li>
                            @if (User.IsInRole("GRolDumpwinkelBeheerder") || User.IsInRole("GRolDumpwinkelOrganisator"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link @(pageName == "theme" ? "active" : "")" href="/cmseek/theme">
                                        <i class="fa fa-paint-brush"></i>
                                        Thema's
                                    </a>
                                </li>
                            }
                            @if (User.IsInRole("GRolDumpwinkelBeheerder") || User.IsInRole("GRolDumpwinkelOrganisator"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link @(pageName == "event" ? "active" : "")" href="/cmseek/event">
                                        <i class="fa fa-calendar"></i>
                                        Evenementen
                                    </a>
                                </li>
                            }
                            @if (User.IsInRole("GRolDumpwinkelBeheerder") || User.IsInRole("GRolDumpwinkelOrganisator"))
                            { 
                                <li class="nav-item">
                                    <a class="nav-link @(pageName == "registration" ? "active" : "")" href="/cmseek/registration">
                                        <i class="fa fa-edit"></i>
                                        Registraties
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link @(pageName == "setting" ? "active" : "")" href="/cmseek/setting/edit/1">
                                        <i class="fa fa-cog"></i>
                                        Instellingen
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </nav>
            }
                <main role="main" class="@mainClass">
                    <div class="mt-4">
                    @foreach (var flash in Request.GetFlashMessages())
                    {
                        <div class="alert @(flash.Type == "success" ? "alert-success" : "alert-danger")" role="alert">
                            @flash.Message
                        </div>
                    }
                    </div>

                    @RenderBody()
                </main>
        </div>
    </div>

    <script>
        console.log('@pageName');
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
