@{ 
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();

    var mainClass = "col-md-12";
    if (Request.IsAuthenticated)
    {
        mainClass = "col-md-9 ml-sm-auto col-lg-10 px-4";
    }

    var pageName = ViewContext.RouteData.Values["controller"].ToString();
}

@helper selected(string c, string culture)
{
    if (c == culture)
    {
        @:checked="checked"
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>@ViewBag.Title - Dumpwinkel Beheer</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />
    @Styles.Render("~/Admin/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>


</head>
<body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Dumpwinkel Beheer</a>
        @Html.Partial("_LoginPartial")
    </nav>


    <div class="container-fluid">
        <div class="row">
            @if (Request.IsAuthenticated)
            {
                <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                    <div class="sidebar-sticky">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link @(pageName == "Dashboard" ? "active" : "")" href="#">
                                    <i class="fa fa-home"></i>
                                    Dashboard
                                </a>
                            </li>
                            @if (User.IsInRole("GRolDumpwinkelBeheerder"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link @(pageName == "Event" ? "active" : "")" href="/admin/event">
                                        <i class="fa fa-calendar"></i>
                                        Evenementen
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link @(pageName == "Registration" ? "active" : "")" href="/admin/registration">
                                        <i class="fa fa-edit"></i>
                                        Registraties
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link @(pageName == "Settings" ? "active" : "")" href="/admin/setting/edit/1">
                                        <i class="fa fa-cog"></i>
                                        Instellingen
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </nav>
            }
            <main role="main" class="@mainClass">
                @RenderBody()
            </main>
        </div>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
